SECRET_KEY=YOUR-SECRET-KEY

NAME=YOUR-DB-NAME
USER=YOUR-DB-USER
PASSWORD=YOUR-DB-PASSWORD
HOST=YOUR-DB-HOST
PORT=YOUR-DB-PORT


EMAIL_BACKEND=YOUR-EMAIL-BACKEND
EMAIL_HOST=YOUR-EMAIL-HOST
EMAIL_PORT=YOUR-EMAIL-PORT
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=YOUR-EMAIL-HOST-USER
EMAIL_HOST_PASSWORD=YOUR-EMAIL-HOST-EMAIL-HOST-PASSWORD
DEFAULT_FROM_EMAIL=YOUR-DEFAULT-FROM-EMAIL
