black~=26.5.1
platformdirs~=4.10.0
colorama~=0.4.6
mypy-extensions~=1.1.0
packaging~=26.2
pathspec~=1.1.1
click~=8.4.2
isort~=8.0.1
pytokens~=0.4.1
django~=6.0.
python-dotenv (1.2.2)
psycopg2 (2.9.12)

