{% extends "base.html" %}
{% load static %}

{% block title %}{{ recipient.full_name }} | NotiSend{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
        <!-- Карточка -->
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <h2 class="card-title">{{ recipient.full_name }}</h2>
                <p><strong>Email:</strong> {{ recipient.email|default:"не указан" }}</p>
                {% if recipient.comment %}
                    <p><strong>Комментарий:</strong></p>
                    <p class="mb-0 text-break small">{{ recipient.comment }}</p>
                {% endif %}
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="{% url 'recipients_list' %}" class="btn btn-outline-primary">Назад</a>
                <a href="{% url 'recipient_update' pk=recipient.pk %}" class="btn btn-link p-1"><span data-feather="edit"></span> Редактировать</a>
                <a href="{% url 'recipient_delete' pk=recipient.pk %}" class="btn btn-link p-1 text-danger"><span data-feather="trash-2"></span> Удалить</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
// Иконки Feather для кнопок редактирования и удаления
feather.replace();
</script>
{% endblock %}