{% extends "base.html" %}
{% load static %}

{% block title %}Удаление получателя | NotiSend{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="alert alert-warning" role="alert">
        Вы действительно хотите удалить получателя "{{ recipient.full_name }}"?
    </div>
    
    <form method="post" action=".">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'recipients_list' %}"/>
        <button type="submit" class="btn btn-danger">Да, удалить</button>
        <a href="#" class="btn btn-outline-secondary ms-2">Нет, отменить</a>
    </form>
</div>
{% endblock %}